<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="applicationProperties"
          class="com.javarush.khmelov.lesson01.config.ApplicationProperties"/>

    <bean id="sessionCreator"
          class="com.javarush.khmelov.lesson01.config.SessionCreator">
        <constructor-arg ref="applicationProperties"/>
    </bean>

    <bean id="demoRepository"
          class="com.javarush.khmelov.lesson01.repository.DemoRepository">
        <constructor-arg ref="sessionCreator"/>
    </bean>

    <bean id="demoService"
          class="com.javarush.khmelov.lesson01.service.DemoService">
        <constructor-arg ref="demoRepository"/>
    </bean>

</beans>